# ch5 一等函数

## 5.1 把函数当作对象

In [1]:
#test 5-1,创建一个函数，然后调用它，获取其__doc__属性
def factorial(n):
    '''return n'''
    return 1 if n < 2 else n * factorial(n-1)

In [2]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
factorial.__doc__

'return n'

In [4]:
#test 5-2 通过别的名称使用函数 再把函数作为参数传递
fact = factorial

In [5]:
fact

In [6]:
fact(5)

120

In [7]:
map(factorial,range(11))

In [8]:
list(map(fact,range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

## 5.2  高阶函数

In [9]:
#test 5-3 根据单词长度给一个单词列表排序
fruits = ['strawberry','fig','apple','cherry','raspberry','banana']

In [10]:
sorted(fruits,key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [12]:
#test 5-4 根据方向拼写给一个单词排序
def reverse(word):
    return word[::-1]

In [13]:
reverse('testing')

'gnitset'

In [14]:
sorted(fruits,key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

### map、filter和reduce的现代替代品

In [15]:
#test 5-5 计算阶乘列表：map和filter与列表推导的比较
list(map(fact,range(6))) #构建0!到5!的一个阶乘列表

[1, 1, 2, 6, 24, 120]

In [16]:
[fact(n) for n in range(6)] #使用列表推导实现相同的操作

[1, 1, 2, 6, 24, 120]

In [17]:
list(map(factorial,filter(lambda n: n % 2,range(6)))) #使用map和filter计算直到5!的奇数阶乘的列表

[1, 6, 120]

In [18]:
[factorial(n) for n in range(6) if n % 2] #使用列表推导实现相同的操作

[1, 6, 120]

In [23]:
# test 5-6 使用reduce和sum计算0~99之和
from functools import reduce
#from operator import add
#reduce(add,range(100))
def adds(a,b):
    return a+b
reduce(adds,range(100))

4950

In [22]:
sum(range(100))

4950